.footer {
    padding-left: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 0%;
    background-color: bisque;
    width: 100vw;
    height: 70px;

    .music {
        background-color: bisque;
        width: 40px;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        transition: .3s all ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .github {
        all: unset;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        a {
            svg {
                width: 40px;
                transition: .3s all;

                &:hover {
                    transform: scale(1.1);
                }
            }

        }

    }

    .help {
        all: unset;
        cursor: pointer;
        background-color: bisque;
        position: absolute;
        right: 1%;
        width: 40px;
        transition: .3s all ease;

        &:hover {
            transform: scale(1.1);
        }

    }

    .help-box {
        position: absolute;
        right: 4%;
        bottom: 180%;
        padding: 8px;
        border-radius: 8px;
        background-color: antiquewhite;
        font-size: 20px;

        .help-message{
            min-width: 50px;
            max-width: 300px;
        }

        img{
            width: 100px;
            position: absolute;
            right: 5%;
            top: 100%;
        }
    }
}