.nav {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 40px;

    .link {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        position: relative;
        font-weight: 500;
        
        &:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: orange;
            bottom: 0;
            left: 0;
            transition: .3s all;
        }

        &:hover::after {
            width: 100%;
        }
    }

    .dbz-btn {

        width: 250px;

        button {
            all: unset;
            cursor: pointer;
            transition: .3s all;

            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 100%;
            }
        }
    }

    .score {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: orange;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        z-index: 10;
    }


    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}